services:
  - type: web
    name: dietnotify
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app --timeout 600
    envVars:
      - key: FLASK_SECRET_KEY
        generateValue: true
      - key: GEMINI_API_KEY
        sync: false
      - key: FIREBASE_API_KEY
        sync: false
      - key: FIREBASE_AUTH_DOMAIN
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_STORAGE_BUCKET
        sync: false
      - key: FIREBASE_MESSAGING_SENDER_ID
        sync: false
      - key: FIREBASE_APP_ID
        sync: false
      - key: FIREBASE_VAPID_PUBLIC_KEY
        sync: false
      - key: FIREBASE_VAPID_PRIVATE_KEY
        sync: false
